@media (max-width: 420px) {
  .content {
    grid-template-columns: 1fr !important;
    display: flex;
    flex-direction: column-reverse;
  }

  .content img {
    
  }

  .icons-position img {
    width: 32px;
    height: auto;
  }

}

@media (max-width: 800px) {
  .header {
    flex-direction: column;
    gap: 40px;
    padding: 20px;
  }

  .header a {
    background: #f5f5f5;
    border-radius: 4px;
    width: 90px;
    display: flex;
    justify-content: center;
  }

  .header .link-logo {
    background: transparent;
    width: 100%;
  }

  .content {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }

  .content h1 {
    font-size: 2rem !important;
  }

  .about {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .about .subtitle {
    color: #141414;
    max-width: initial;
  }

  .about-text {
    font-size: 1.25rem;
  }

  .container-services {
    grid-template-columns: 1fr;
    padding: 60px 20px;
    gap: 40px;
  }

  .container-services .subtitle {
    color: #ffffff;
  }

  .text-services {
    font-size: 1.25rem;
  }

  .container-contact {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .footer-contact p {
    font-size: 1.25rem;
  }
}

@media (max-width: 1000px) {
  .content h1 {
    font-size: 3rem;
  }

  .content p {
    font-size: 1rem;
  }

}